# Node modules (dépendances)
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de build
dist/
build/

# Fichiers système
.DS_Store
Thumbs.db

# Environnements et secrets
.env
.env.local
.env.*.local

# IDE / éditeurs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage (tests)
coverage/

# Cache
.cache/
*.tmp
